<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home-Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color: rgb(233, 243, 245);">
        <header>
            <span>
                <h1>My Portfolio</h1>
                <img src="/static/myimage.jpg" height="200" alt="Failed to load Image">
                <h2>Praveen Kumar</h2>
            </span>
            
        </header>
        <main>
            <div>
                <h3>Myself</h3>
                <p> My name is Praveen. I will write about my education and the story related this.
                </p>
                <section> 
                    <big>
                        <u>Matriculation:.</u> St.Anne's High School<a href="https://stannespatnacity.in/" target="_main">Click here to Visit.</a>
                    </big>
                </section>
                    <hr>
                <section>

                    <big>
                        <u>Intermediate:</u>Oriental College.<a href="https://orientalcollege.in/"target="_main"> Click here to Visit.</a>
                    </big>
                </section>
                <hr>
                <section>
                    <Big>
                        <u>Graduation:</u>Patliputra University.<a href="https://ppup.ac.in/"target="_main">Click here to Visit</a>
                    </Big>
                </section>
                <hr>
                    


                
            </div>
        </main>
                
           
       
        <script src="" async defer></script>
        <h3>Browse Below Pages</h3>
        <pre>
            <a href="/Education.html"><big>Education</big></a>

        </pre>
        <br>
        <pre>
            <a href="/Experience.html"><big>Experience</big></a>
        </pre>
        <br>
        <pre>
            <a href="/Projects.html"><big>Projects</big></a>
        </pre>
        <pre>
            <a href="/contact.html"><big>Contact Me</big></a>
        </pre>
        <br>
        <hr>
        <footer>
            <div style="background-color: rgb(232, 210, 182);">
                Reach Me : 9852436466 
                <br>
                Email : praveen.kumar.pydev@gmail.com
                <br>
                LinkedIn : <a href="https://www.linkedin.com/in/praveen-kumar-9145aa28a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">Praveen Kuamr</a>
            </div>
        </footer>


    </body>
</html>